body {
    font-family: 'Arial', sans-serif;
    background: #f1f9ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#cityInput {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
    max-width: 400px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #0288d1;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0277bd;
}

.weather-card {
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(135deg, #0974c0, #004b72); 
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; 
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.temp {
    font-size: 3rem;
    font-weight: bold;
    color:#f0f0f0; 
}

.description {
    font-size: 1.2rem;
    color: #e0e0e0; 
    margin-bottom: 20px;
}

.details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    font-size: 1rem;
    text-align: center;
}

.details p {
    margin: 0;
    font-weight: 600;
    color: #e0e0e0; 
}

#map {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    margin-top: 20px;
}

#suggestions {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    width: 70%;
    margin-top: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: none;
    z-index: 1000;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    #cityInput {
        width: 60%;
    }

    .temp {
        font-size: 2.5rem;
    }

    .weather-card {
        padding: 15px;
    }

    .details {
        grid-template-columns: 1fr;
    }
}

