@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background: #ffffff;
    background: linear-gradient(225deg, rgba(255, 255, 255, 1) 0%, rgb(235, 230, 255) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    background:  #5D3BD1;
    background: linear-gradient(135deg, rgba(93, 59, 209, 1) 0%, rgba(42, 12, 138, 1) 100%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container h1 {
    color: #f0f0f0;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      font-size: 3rem;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#cityInput {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #5D3BD1;
    border-radius: 4px;
    height: .9rem;
    width: 100%;
    max-width: 450px;
    margin-right: .5rem;
    background-color: #e1f5fe;
}

button {
    padding: 9px 10px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    color: #0f0f0f;
}

.weather-card {
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(135deg, #0974c0, #004b72); 
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white; 
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
}

.details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    font-size: 1rem;
    text-align: right;
    margin-left: 10px;
}

.weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.temp {
    font-size: 3rem;
    font-weight: bold;
    color:#f0f0f0; 
}

.description {
    font-size: 1.2rem;
    color: #e0e0e0; 
    margin-bottom: 20px;
}



.details p {
    margin: 0;
    font-weight: 600;
    color: #e0e0e0; 
    font-size: medium;
}

#map {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    margin-top: 20px;
}

.input-wrapper {
    position: relative;
    width: 100%; 
}

input::placeholder {
    color: #000000;
    font-size: 14px;
    font-size: 1rem;
}



#suggestions {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    width: 70%;
    margin-top: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: none;
    z-index: 1000;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    #cityInput {
        width: 60%;
    }

    .temp {
        font-size: 2.5rem;
    }

    .weather-card {
        padding: 15px;
    }

    .details {
        grid-template-columns: 1fr;
    }
}

.home-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #5D3BD1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Archivo", sans-serif;
    transition: all 0.3s ease;
}
.home-button:hover {
    background-color: #4526a3;
    transform: scale(1.05);
}
