<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clima por Ciudad</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #map { height: 400px; width: 100%; margin-top: 10px; }
        body { font-family: sans-serif; padding: 20px; }
        .weather-info { margin-top: 20px; }
    </style>
</head>
<body>
    <h1>Consulta del Clima</h1>
    <form action="/weather" method="POST">
        <input type="text" id="cityInput" name="city" placeholder="Buscar ciudad..." required>
        <button type="submit">Buscar clima</button>
    </form>

    <div id="map"></div>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% elif weather %}
        <div class="weather-info">
            <h3>Ciudad: {{ weather.city }}</h3>
            <p>Temperatura: {{ weather.temp }} °C</p>
            <p>Clima: {{ weather.description }}</p>
        </div>
    {% endif %}

    <script>
        const map = L.map('map').setView([-34.6037, -58.3816], 5); // Centrado en Argentina inicialmente

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        // Manejamos el click en el mapa
        let marker;
        map.on('click', function(e) {
            const { lat, lng } = e.latlng;
            if (marker) marker.setLatLng(e.latlng);
            else marker = L.marker(e.latlng).addTo(map);

            fetch(`https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lng}&format=json`)
                .then(res => res.json())
                .then(data => {
                    console.log(data)
                    const city = data.address.city || data.address.town || data.address.village;
                    const state = data.address.state || "";
                    const country = data.address.country;

                    let query = "";

                    if (city) query += `${city}, `;
                    if (state) query += state;
                    if (country) query += `, ${country}`;

                    document.getElementById('cityInput').value = query;
                });
        });
    </script>
</body>
</html>
